:root {
    --box-shadow-grey-500-center: 0px 1px 1px var(--grey-1500); 
    --box-shadow-grey-500-right: 0px 0px 1px var(--grey-1500); 

    --box-shadow-grey-800-center: 0px 2px 8px var(--grey-1500);
    --box-shadow-grey-800-right: 0px 0px 1px var(--grey-1500);
}