* {
    --text-log-bg-color: var(--grey-100);
}

.Build-Log {
    background-color: var(--text-log-bg-color);
    border-radius: var(--border-radius-build-log);
    margin-top: 12px;
    padding: 8px 12px;
    white-space: nowrap; /* will prevent the default wrapping of text to next line */
    overflow-x: auto; /* will make horizontal scroll-bar appear only when needed */
}

@media (max-width: 360px) {
    .Build-Log {
        border-radius: 0;
        margin-top: 16px;
    }
}