* {
    --bg-color-footer: var(--grey-50);
    --color-footer: var(--grey-900);
}

.Footer {
    min-height: 32px;
    color: var(--color-footer);
    background-color: var(--bg-color-footer);
}

.Footer-Copyright {
    margin-top: 7px;
    margin-bottom: 7px;
}

.Footer-NavLink {
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (max-width: 360px) {
    .Footer-Copyright {
        margin-top: 0;
        margin-bottom: 12px;
    }
    .Footer-NavLink {
        margin-top: 12px;
    }
}
