
.BuildCard {
    display: grid;
    grid-template-columns: 22px 1fr;
    grid-gap: 9px;
    padding: 12px 25px 12px 24px;   
    border-radius: var(--border-radius-build-card);
    margin-top: 8px;
}

@media (max-width: 360px) {
    .BuildCard {
        padding: 16px 7px 16px 13px;
    }
}
