@font-face {
    font-family: "YS Text";
    src: url("fonts/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"), url("fonts/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "YS Text";
    src: url("fonts/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2") format("woff2"), url("fonts/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "YS Text";
    src: url("fonts/6Roy0LCd05cK4nNCipgzheYcNVU.woff2") format("woff2"), url("fonts/KtHQR1erf3spayoIM4M4ngg0e2E.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

.font_size_xxs {
    font-size: 10px;
}

.font_size_s {
    font-size: 13px;
}

.font_size_m {
    font-size: 15px;
}

.font_size_xl {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 360px) {
    .font_size_xl {
        font-size: 16px;
    }
}