.Page {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;    
    grid-template-rows: minmax(max-content, 50px) 1fr minmax(max-content, 32px);
    grid-template-columns: 1fr;
}

.Header,
.Main,
.Footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

.Container {
    max-width: 824px;
    width: 100%;
}
