@import "fonts.css";
@import "border-radius.css";
@import "colors.css";
@import "Button.css";
@import "layout.css";
@import "Header.css";
@import "Footer.css";
@import "NavLinks.css";
@import "Main.css";
@import "Container.css";
@import "Greeting.css";
@import "Form.css";
@import "BuildList.css";
@import "TimeInfo.css";
@import "BuildStatuses.css";
@import "Commit.css";

/* BlockName-ElemName_modName_modVal */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "YS Text", Arial, Helvetica, sans-serif;

    --text-log-bg-color: #F2F2F2;

    --icon-space: 8px;
    --main-button-hor-space: 20px;
    --input-hor-space: 13px;
    --input-top-space: 11px;
    --input-bottom-space: 10px;
    
}